#header_container{
    display: flex;
    max-width: 1200px;
    overflow: hidden;
}

#nav_container {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    padding: 0px;
    max-width: 1200px;
    position: relative;
    margin-top: 0px;
}

#main_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-width: 800px;
}

#header_pic {
    max-width: 1200px;
    flex-basis: 1;
    object-fit: cover;
}

header h2{
    font-size: 24pt;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    position:absolute;
    top: 279px;
    left: 15px;
}

header h1 {
    font-size: 60pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    top: 271px;
    left: 10px;
}

nav li{
    flex-grow: 1;
    background: goldenrod;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
a:link {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
a:hover {
    color: rgb(42, 41, 41);
    font-style: oblique;
}
a:visited {
    color: purple;
}

aside {
    flex-basis: 24%;
    border-radius: 5%;
}
aside p{
    font-family: sans-serif;
    color: rgb(70, 37, 4);
    text-align: center;
}
ul li, ol li{
    color: rgb(203, 43, 64);
}
.one {
    flex-basis: 75%;
}
.one p, .two p{
    padding: 1% 10%;
}
.one img {
    width: 200px;
    float: left;
    padding-right: 20px;
}
.two {
    flex-basis: 100%;
    padding-left: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
}

table {
    background-color: rgb(251, 239, 223);
    border: 2px solid grey;
    margin-left: 8%;
}

td, th {
    border: 2px solid tan;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
footer {
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .7rem;
}